.plus-create{
    background:url(/public/Images/plus.jpg) no-repeat;
    cursor:pointer;
    border:none;
    height: 225px;
    width: 225px;
}

#CreatePerso{
    padding-top: 3.5%;
    height: 100%;
}

.p-top{
    padding-top: 3%;
}

.backButtonEnd{
    text-align: end;
}

.ButtonSb{
    height: 65px;
    width: 100px;
}

.backButton{
    padding-top: 3%;
    text-align: end;
}

.rdiv{
    width: 25%;
}

.newpersodiv{
    width: 50%;
    padding-bottom: 3%;
}

.newcolumn{
    width: 25%;
    float: left;
}

.infoPerso{
    width: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.borderPerso{
    padding-left: 3%;
    padding-right: 3%;
}